<div class="form-row">
    <div class="col d-flex flex-column ss-password-requirements mb-3">
        <div id="contains-min-length">
            <i data-feather="check-circle"></i>
            <i data-feather="x-circle"></i>

            <span> Contains at least 8 characters</span>
        </div>
        <div id="contains-nonalphanum">
            <i data-feather="check-circle"></i>
            <i data-feather="x-circle"></i>
            <span>Contains a non-alphanumeric character</span>
        </div>
        <div id="contains-number">
            <i data-feather="check-circle"></i>
            <i data-feather="x-circle"></i>

            <span>Contains a number</span>
        </div>
        <div id="contains-uppercase">
            <i data-feather="check-circle"></i>
            <i data-feather="x-circle"></i>

            <span>Contains an upper case letter</span>
        </div>
        <div id="contains-lowercase">
            <i data-feather="check-circle"></i>
            <i data-feather="x-circle"></i>

            <span>Contains a lower case letter</span>
        </div>
    </div>
</div>