@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="ss-right-col col-md-6 d-none d-lg-block m-0 p-0 text-white">
    <div class="d-flex flex-column justify-content-between align-items-center h-100 m-0">
        <div class="d-flex flex-column align-items-center pt-lg-5 pt-md-3">
            <h1 class="ml-auto mr-auto">TranslationPro</h1>
            <h3>Unlock an altogether better journey</h3>
        </div>
        <div class="d-flex justify-content-around mt-2 ss-icon-row w-75">
            <div>
                <div>
                    <img src="/assets/marketing_icons/ListNumbers.svg">
                </div>
                <p>Activities</p>
            </div>
            <div>
                <div>
                    <img src="/assets/marketing_icons/FirstAidKit.svg">
                </div>
                <p>Medications</p>
            </div>
            <div>
                <div>
                    <img src="/assets/marketing_icons/Alarm.svg">
                </div>
                <p>Reminders</p>
            </div>
        </div>
        <img class="d-inline-flex" src="/assets/claycouple.png" id="clay-couple"/>
    </div>
</div>