@inherits LayoutComponentBase

<PageTitle>TranslationPro</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
        <AuthorizeView>
            
            <div class="container border-1">
                This is authorized content
                
                Choose Application 
                @if (_applications != null)
                {
                    <select class="form-control" onchange="@Click()">
                        @foreach (var application in _applications)
                        {
                            <option>@application.Name</option>
                        }
                    </select>
                }

               
            </div>
        </AuthorizeView>
        

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
