
#logo {
    width: 3em;
}

#logo-shadow {
    width: 5em;
    height: 1.5em;
    border-radius: 50%;
    margin-top: .5em;
    background-image: radial-gradient(rgba(68, 68, 68, 0.067), rgba(255, 255, 255, 0));
    /* box-shadow: 0 0 1em #4444 inset; */
}
