

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Applications</li>
    </ol>
</nav>

@if (Apps == null)
{
    <p>Loading Applications...</p>
}
else
{
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-4 mb-5">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h5 class="card-title">Create New Application</h5>
                        <NavLink class="btn btn-primary" href="/applications/create">Create Application</NavLink>
                    </div>
                </div>
            </div>
            @foreach (var app in Apps)
            {
                <div class="col-sm-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@app.Name</h5>
                            <ul class="list-group list-group-flush">
                                
                                <li class="list-group-item">
                                    <NavLink href="@{ $"applications/{@app.Id}" }" class="btn">Manage Application</NavLink>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
    

}
@code {

}