



<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="card bg-dark text-white">
                <div class="card-body">
                    <h5 class="card-title">Create New Application</h5>
                    <NavLink class="btn btn-primary" href="/applications/create">Create Application</NavLink>
                </div>
            </div>


        </div>
        <div class="col-8">

            @if (Apps != null)
            {
                <h5>Applications</h5>

                <CommonTable Items="Apps">
                    <HeaderTemplate>
                        <th>Name</th>
                        <th>Phrases</th>
                        <th>Languages</th>
                        <th>Translations</th>
                    </HeaderTemplate>
                    <ItemTemplate>
                        <td>
                            <NavLink href=@{
                                              $"/applications/{@context.Id}"
                                          }>@context.Name</NavLink>
                        </td>
                        <td>@context.PhraseCount</td>
                        <td>@context.Languages.Count</td>
                        <td>@context.TranslationCount</td>
                    </ItemTemplate>
                </CommonTable>

            }



        </div>
    </div>
</div>