
@if (Application != null)
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Application.Users)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Status</td>
                <td class="btn-group-sm">
                    <a href="#"
                       class="btn btn-outline-primary">
                        Edit
                    </a>
                    <button class="btn btn-outline-danger">
                        Delete
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
