



<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="card bg-dark text-white">
                <div class="card-body">
                    <h5 class="card-title">Create New Application</h5>
                    <NavLink class="btn btn-primary" href="/applications/create">Create Application</NavLink>
                </div>
            </div>


        </div>
        <div class="col-8">

            @if (Apps != null)
            {
                <h5>Applications</h5>

                <ul>
                    @foreach (var app in Apps)
                    {
                        <li>
                            <NavLink class="btn btn-primary" href=@{$"/applications/{@app.Id}"}>@app.Name</NavLink>
                        </li>
                    }
                </ul>
            }



        </div>
    </div>
</div>