
<div class="container-fluid">
    <div class="row">
        <div class="col-9"><h3>Manage Application</h3></div>
        <div class="col-3">
            
            @if (Applications != null)
            {
                if (Applications.Count > 0)
                {
                    <select class="form-select" aria-label="Default select example" @onchange="HandleApplicationChange">

                        @foreach (var application in Applications)
                        {
                            if (application.Id == CurrentApplicationId)
                            {
                                <option value="@application.Id" selected>@application.Name</option>
                            }
                            else
                            {
                                <option value="@application.Id">@application.Name</option>
                            }

                        }
                    </select>
                }
                else
                {
                    <button class="btn-primary">Create New Application</button>
                }
            }
        </div>
    </div>
    

</div>
