
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        
        @for (var i = 0; i < NavigationItems.Count; i++)
        {
            var index = i;
            if (i == NavigationItems.Count - 1)
            {
                <li class="breadcrumb-item">
                    @NavigationItems[index].Title
                </li>
            }
            else
            {
                <li class="breadcrumb-item active">
                    <NavLink href="@NavigationItems[index].Url">@NavigationItems[index].Title</NavLink>
                </li>
            }
        }

    </ol>
</nav>
@code {
    
    [Parameter]
    public List<NavigationItem> NavigationItems { get; set; }
}
