
<div class="card">

    <div class="card-body">
        <h5 class="card-title @TitleCssClass">@Title</h5>

        @ChildContent
    </div>
</div>
@code {
    [Parameter]
    public string TitleCssClass { get; set; } = "text-left";

    [Parameter]
    public string Title { get; set; }
    
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
