@typeparam TItem


<table class="table table-striped table-bordered">
    <thead>
    <tr>
            @Header
    </tr>
    
    </thead>
    <tbody>

    @foreach (var item in Items)
    {
        <tr>
            @Body(item)
        </tr>
    }
    </tbody>
</table>

@code {
    
    [Parameter]
    public IEnumerable<TItem> Items { get; set; }

    [Parameter]
    public RenderFragment Header { get; set; }

    [Parameter]
    public RenderFragment<TItem> Body { get; set; }
}
