@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.Extensions.Configuration
@inject IAccessTokenProvider TokenProvider
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject IConfiguration Configuration





<div class="d-inline-block mx-2">

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <AuthorizeView>
                    <Authorized>

                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <NavLink class="text-white nav-link" href="@{
                                    $"{AuthorityUrl}/Account/Manage"
}">
                                    @context.User.Identity?.Name
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <a class="text-white nav-link" @onclick="BeginSignOut">
                                    Log Out
                                </a>
                            </li>
                        </ul>

                    </Authorized>
                    <NotAuthorized>


                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <NavLink class="nav-link text-white" ActiveClass="active" href="">Home</NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link text-white" ActiveClass="active" href="products">Pricing</NavLink>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-black">|</a>
                            </li>
                            <li class="nav-item">

                                <NavLink class="text-white nav-link" href="@{$"{AuthorityUrl}/Identity/Account/Register"}">
                                    Register
                                </NavLink>
                            </li>
                            <li class="nav-item">

                                <NavLink class="nav-link text-white" href="authentication/login">
                                    Log in
                                </NavLink>
                            </li>
                        </ul>


                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>
    </nav>




</div>

@code {

    private string AuthorityUrl;

    protected override async Task OnInitializedAsync()
    {
        AuthorityUrl = Configuration["OidcConfiguation:Authority"];
    }

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }

    private async Task WriteToken()
    {
        var tokenResult = await TokenProvider.RequestAccessToken();
        if (tokenResult.TryGetToken(out var token))
        {
            System.Diagnostics.Debug.WriteLine(token.Value);
        }
    }


}