@inherits LayoutComponentBase
@layout EmptyLayout
@using Microsoft.AspNetCore.Components.Sections


<div class="container ss-manage-content-container bg-white shadow ss-rounded mt-3">
    <div class="row flex-nowrap">
        <div class="col-md-12 col-lg-12 p-md-4 p-lg-5 p-3">
            @Body
        </div>
    </div>
</div>