@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}


<div class="row justify-content-center h-100">
    <left-column>
        <ss-main-content>
            <shadow-area>

                <partial name="Shared/_Logo"/>
                <main-header name="@ViewData["Title"]"></main-header>

                <partial name="_StatusMessage" model="Model.StatusMessage"/>

                <div class="d-flex flex-column justify-content-center align-items-center pt-5">
                    <div>
                        Already have an account? <a asp-page="./Login">Sign In</a>
                    </div>
                    <div>
                        Don't have an account?
                        <a asp-page="./Register">Sign Up</a>
                    </div>
                </div>
            </shadow-area>
        </ss-main-content>
    </left-column>
    <partial name="Shared/_RightColumn"/>

</div>