@page "/languages"

<PageTitle>Languages</PageTitle>

<h1>Languages</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (_languages == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
       
        <tbody>
            @foreach (var language in _languages)
            {
                <tr>
                    <td>@language.Name</td>
                    <td>
                        <button class="btn btn-primary">Add To Application</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
