@page "/applications/{ApplicationId:guid}/languages"
@inherits ApplicationDetailsBase

@if (Application == null)
{
    <p>Loading...</p>
}
else
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <NavLink href="@{
                $"/applications"
}">Applications</NavLink>
            </li>
            <li class="breadcrumb-item">
                <NavLink href="@{
                $"/applications/{ApplicationId}"
}">@Application.Name</NavLink>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Languages</li>
        </ol>
    </nav>
    <table class="table">
        <thead>
            <tr>
                <th>Language</th>
                <th>Is Enabled</th>
            </tr>
        </thead>
        <tbody>
        @if (@Languages != null)
        {
            @foreach (var lang in Languages)
            {
                <tr>
                    <td>@lang.Name</td>
                    <td>
                        @if (!Application.SupportedLanguages.Contains(lang.Id))
                        {
                            <button class="btn-primary btn">Enable</button>
                        }
                        else
                        {
                            <button class="btn-danger btn">Disable</button>
                        }
                    </td>
                </tr>
            }
        }
        
        </tbody>
    </table>
}
