@page "/applications"

@if (Apps == null)
{
    <p>Loading Applications...</p>
}
else
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Applications</li>
        </ol>
    </nav>
    <p>
        <NavLink class="btn btn-primary" href="/applications/create">Create Application</NavLink>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Languages</th>
                <th>Users</th>
                <th>Phrases</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var app in Apps)
            {
                <tr>

                    <td>
                        <NavLink href="@{$"applications/{@app.Id}"}">@app.Name</NavLink>

                    </td>
                    <td>
                        <NavLink href="@{$"applications/{@app.Id}/languages"}">@app.Languages.Count</NavLink>

                    </td>
                    <td>
                        <NavLink href="@{$"applications/{@app.Id}/users"}">@app.Users.Count</NavLink>

                    </td>
                    <td>
                        <NavLink href="@{$"applications/{@app.Id}/phrases"}">@app.PhraseCount</NavLink>

                    </td>
                    <td class="btn-group-sm">
                        <a href="#"
                           class="btn btn-outline-primary">
                            Edit
                        </a>
                        <button class="btn btn-outline-danger">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
@code {

}
