@page "/applications"

<h3>ApplicationList</h3>


@if (Applications == null)
{
    <p>Loading Applications...</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var app in Applications)
        {
            <tr>

                <td>
                        <NavLink href="@{$"applications/{@app.Id}"}">@app.Name</NavLink>
                  
                </td>
            </tr>
        }
        </tbody>
    </table>
  
}
@code {

}
