@page "/applications"

@if (Applications == null)
{
    <p>Loading Applications...</p>
}
else
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Applications</li>
        </ol>
    </nav>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var app in Applications)
        {
            <tr>

                <td>
                        <NavLink href="@{$"applications/{@app.Id}"}">@app.Name</NavLink>
                  
                </td>
            </tr>
        }
        </tbody>
    </table>
  
}
@code {

}
