@page "/applications/{ApplicationId:guid}/languages"
@inherits ApplicationDetailsBase

@if (Application == null)
{
    <p>Loading...</p>
}
else
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <NavLink href="@{
                $"/applications"
}">Applications</NavLink>
            </li>
            <li class="breadcrumb-item">
                <NavLink href="@{
                $"/applications/{ApplicationId}"
}">@Application.Name</NavLink>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Languages</li>
        </ol>
    </nav>
    
}
