@page "/applications"

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Applications</li>
    </ol>
</nav>


<ApplicationList></ApplicationList>