@page "/applications/{ApplicationId:guid}/users"
@inherits ApplicationUsersBase
@layout ApplicationLayout

@if (Application == null)
{
    <p>Loading...</p>
}
else
{
    <Breadcrumb NavigationItems="NavigationItems"></Breadcrumb>

    <p>
        <NavLink class="btn btn-primary" href="@{$"/applications/{ApplicationId}/users/invite"}">Invite User</NavLink>
    </p>

    <CommonTable Items="Application.Users">
        <HeaderTemplate>
            <th>Name</th>
            <th>Status</th>
            <th></th>
        </HeaderTemplate>
        <ItemTemplate>
            <td>@context.Name</td>
            <td>@context.Status</td>
            <td class="btn-group-sm">
                <a href="#"
                   class="btn btn-outline-primary">
                    Edit
                </a>
                <button class="btn btn-outline-danger">
                    Delete
                </button>
            </td>
        </ItemTemplate>
    </CommonTable>
    
}

@code {

}
