@using System.Reflection.Emit
@inherits ApplicationDetailsBase
@page "/applications/{ApplicationId:guid}/phrases/create"
@layout ApplicationLayout

@if (Application != null)
{
    <Breadcrumb NavigationItems="NavigationItems"></Breadcrumb>
}

<h3>Create Phrases</h3>

<form class="mb-5">


    @for (int i = 0; i < Phrases.Count; i++)
    {
        var local = i;
        <div class="row">
            <div class="col-10">
                <input type="text" @bind="Phrases[local]" class="form-control mb-2" />
            </div>
            <div class="col-2">


                <button type="button" class="btn btn-primary" @onclick="() => RemoveItem(local)">Remove</button>

            </div>
        </div>

    }
    
    <button type="button" class="btn btn-primary" @onclick="AddItem">Add More Items</button>
    <button type="button" class="btn btn-primary" @onclick="SubmitItems">Submit</button>

</form>

<ul>
    @foreach (var item in Phrases.Where(x=>!string.IsNullOrWhiteSpace(x)).ToList())
    {
        <li>@item</li>
    }
</ul>


