@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome To Translation Pro</h1>
<p>Easily Translate your website into any of the following languages</p>

@if (Languages != null)
{
    <ul class="list-group">
        
        @foreach (var lang in Languages)
        {
            <li class="list-group-item">@lang.Name</li>
        }
    </ul>
}
