@page "/"

<PageTitle>Translation Pro</PageTitle>


<AuthorizeView>
    <NotAuthorized>
        
        <div class="container px-4 py-5" id="featured-3">
            <h2 class="pb-2 border-bottom">Welcome to Translation Pro</h2>
            <h6 class="pb-2 border-bottom">AI Powered Phrase Management</h6>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                <div class="feature col">
                   
                    <h3>AI Powered</h3>
                    <p>
                        Harness the power of AI to build accurate translations and expand your website or mobile
                        application into new markets.
                    </p>
                    <a href="#" class="icon-link">
                        Call to action
                        <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
                    </a>
                </div>
                <div class="feature col">
                    
                    <h3>126 Languages</h3>
                    <p>
                        Instantly translate your phrases into 126 languages in seconds. 
                    </p>
                    <a href="#" class="icon-link">
                        Call to action
                        <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
                    </a>
                </div>
                <div class="feature col">
                   
                    <h3>Easy Integration</h3>
                    <p>
                        Just be adding a single line of code you can have your website translated and reach new audiences.
                    </p>
                    <a href="#" class="icon-link">
                        Call to action
                        <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
                    </a>
                </div>
            </div>
        </div>
    </NotAuthorized>
    <Authorized>
        <ApplicationList></ApplicationList>
    </Authorized>
</AuthorizeView>