@page "/applications/{ApplicationId:guid}/users/invite"
@inherits ApplicationDetailsBase
@layout ApplicationLayout
@if (Application != null)
{

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><NavLink href="@{
                $"/applications"
}">Applications</NavLink></li>
            <li class="breadcrumb-item"><NavLink href="@{
                $"/applications/{ApplicationId}"
}">@Application.Name</NavLink></li>
            <li class="breadcrumb-item"><NavLink href="@{
                $"/applications/{ApplicationId}/users"
}">Users</NavLink></li>
            <li class="breadcrumb-item active" aria-current="page">Invite User</li>
        </ol>
    </nav>
}
<EditForm Model="Input" OnSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">

        <label for="firstname" class="form-label">First Name</label>
        <InputText id="firstname" class="form-control" @bind-Value="Input.FirstName"></InputText>
    </div>
    <div class="mb-3">

        <label for="lastname" class="form-label">Last Name</label>
        <InputText id="lastname" class="form-control" @bind-Value="Input.LastName"></InputText>
    </div>
    <div class="mb-3">

        <label for="email" class="form-label">Email</label>
        <InputText id="email" class="form-control" @bind-Value="Input.Email"></InputText>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>

</EditForm>