@page "/applications/{ApplicationId:guid}/languages"
@inherits ApplicationDetailsBase

@if (Application == null)
{
    <p>Loading...</p>
}
else
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><NavLink href="@{$"/applications"}">Applications</NavLink></li>
            <li class="breadcrumb-item"><NavLink href="@{$"/applications/{ApplicationId}"}">@Application.Name</NavLink></li>
            <li class="breadcrumb-item active" aria-current="page">Languages</li>
        </ol>
    </nav>
    <table class="table">
        <thead>
        <tr>
                <th>Language</th>
                <th>Translations</th>
                <th>Pending Translations</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var lang in Application.Languages)
            {
                <tr>
                    <td>@lang.LanguageName</td>
                    <td>@lang.Translations</td>
                    <td>@lang.PendingTranslations</td>
                </tr>
            }
        </tbody>
    </table>
}
