@page "/applications/{ApplicationId:guid}/phrases/{PhraseId:int}"
@inherits PhraseDetailsBase
@layout ApplicationLayout
@if (Application == null)
{
    <p>Loading Phrase...</p>
}
else
{


    @if (ApplicationPhrase != null)
    {
        
        <Breadcrumb NavigationItems="NavigationItems"></Breadcrumb>



        <Card Title="English">
            
            <h3>@ApplicationPhrase.Text</h3>

        </Card>
        <br/>

        <CommonTable Items="ApplicationPhrase.Translations">
            <HeaderTemplate>
                <th>Language</th>
                <th>Text</th>
                <td>Machine Translations</td>

            </HeaderTemplate>
            <ItemTemplate>
                <th>
                    <NavLink href="@{
                $"/applications/{ApplicationId}/languages/{@context.LanguageId}"
}">

                        @context.LanguageName
                    </NavLink>

                </th>
                <td>
                    <NavLink href="@{
                                   $"/applications/{ApplicationId}/phrases/{PhraseId}/languages/{context.LanguageId}"
                               }">
                        @context.Text
                    </NavLink>

                </td>
                <td>

                    <NavLink href="@{
                                   $"/applications/{ApplicationId}/phrases/{PhraseId}/languages/{context.LanguageId}"
                               }">
                        XX
                    </NavLink>

                </td>

            </ItemTemplate>
        </CommonTable>

    }
}

@code {

}
