@page "/applications/{ApplicationId:guid}/languages/{LanguageId}"
@inherits LanguageDetailsBase
@layout ApplicationLayout

@if (Application != null)
{
    <Breadcrumb NavigationItems="NavigationItems"></Breadcrumb>
}

@if (Translations == null)
{
    <p>Loading Translations...</p>
}
else
{
    if (Language != null)
    {
        
        <h3>Manage Language (@Language.Name)</h3>

        <PagingTable PagedList="Translations" PageChanged="Callback">
            <HeaderTemplate>
                <th>Original </th>
                <th>Translated</th>
            </HeaderTemplate>
            <ItemTemplate>
                <td>@context.Phrase</td>
                <td>
                    @context.Text
                </td>
            </ItemTemplate>
        </PagingTable>
    }

}
