@page "/applications/{ApplicationId:guid}/languages/{LanguageId}"
@inherits ApplicationDetailsBase
@layout ApplicationLayout


@if (Translations == null)
{
    <p>Loading Translations...</p>
}
else
{
  

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <NavLink href="@{
                                   $"/applications"
                               }">Applications</NavLink>
            </li>
            <li class="breadcrumb-item">
                <NavLink href="@{
                                   $"/applications/{ApplicationId}"
                               }">@Application.Name</NavLink>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Language: @LanguageId</li>
        </ol>
    </nav>

    <h3>Manage Language (@LanguageId)</h3>


    <PagingTable PagedList="Translations" PageChanged="Callback">
        <Header>
            <th>Original </th>
            <th>Translated</th>
        </Header>
        <Body>
        <td>@context.Phrase</td>
        <td>@context.Text</td>
        </Body>
    </PagingTable>
}
