@page "/applications/{ApplicationId:guid}/phrases"
@inherits ApplicationDetailsBase

@if (Application != null)
{

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><NavLink href="@{$"/applications/{ApplicationId}"}">@Application.Name</NavLink></li>
            <li class="breadcrumb-item active" aria-current="page">Phrases</li>
        </ol>
    </nav>
    <p>
        <NavLink class="btn btn-primary" href="@($"/applications/{ApplicationId}/phrases/create")">Create Phrase</NavLink>
    </p>
}


<PhraseList ApplicationId="ApplicationId"></PhraseList>