@page "/applications/{ApplicationId:guid}/create-phrase"
@using TranslationPro.Shared.Interfaces
@using TranslationPro.Blazor.Services
@inherits ApplicationDetailsBase

<Row>
    <Column ColumnSize="ColumnSize.Is6.OnDesktop">
        <Card Margin="Margin.Is4.FromBottom">
            <CardHeader>
                <CardTitle>Add New Phrases</CardTitle>
            </CardHeader>
            <CardBody>
                <Validations Mode="ValidationMode.Auto" ValidateOnLoad="false">
                    
                    @for (var index = 0; index < Phrases.Count; index++)
                    {
                        var local = index;
                        <Validation Validator="@ValidationRule.IsNotEmpty">
                            <Fields>
                                <Field ColumnSize="ColumnSize.Is10">
                                    <TextEdit @bind-Text="@Phrases[local].Value" Placeholder="Enter Text"/>
                                </Field>
                                <Field ColumnSize="ColumnSize.Is2">
                                    <Button Color="Color.Danger" Clicked="() => RemoveItem(local)">Remove</Button>
                                </Field>
                            </Fields>
                            
                        </Validation>
                    }
                    <Button Color="Color.Secondary" Clicked="AddItem">Add Item</Button>
                    <Button Color="Color.Primary" Loading="@_isLoading" Clicked="HandleSubmit">Submit</Button>
                </Validations>

            </CardBody>
        </Card>
    </Column>
</Row>
@code {

    [Inject]
    public IApplicationPhrasesController ApplicationPhraseProxy { get; set; }

    private readonly List<FormResponse> Phrases = new()
    {
        new FormResponse(){ Value = "" }
    };

    protected void AddItem()
    {
        Phrases.Add(new FormResponse()
        {
            Value = ""
        });
    }

    private bool _isLoading = false;
    
    private void RemoveItem(int index)
    {
        Phrases.RemoveAt(index);
    }


    protected override async Task LoadData()
    {
        await base.LoadData();

        NavigationItems.Add(new NavigationItem()
            {
                Title = "Create Phrase"
            });
    }

    private async Task HandleSubmit(MouseEventArgs evnt)
    {
        _isLoading = true;
        var cleanItems = Phrases.Select(x => x.Value).ToList();
        
        var result = await ApplicationPhraseProxy.CreatePhrasesAsync(ApplicationId, new ApplicationPhrasesCreateOptions
        {
            Texts = cleanItems
        });

        _isLoading = false;

        if (result != null)
        {
           
            NavigationManager.NavigateTo($"/applications/{ApplicationId}");
        }
    }
}