@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
    <RemoteAuthenticatorView Action="@Action">
        <LoggingIn>
            <p>We're logging you in, please wait...</p>
        </LoggingIn>
    </RemoteAuthenticatorView>

@code{
    [Parameter] public string Action { get; set; }
}
