@page "/applications"
@inject IVersionProvider VersionProvider
@inherits AuthenticatedBase
@layout MainLayout

@if(CurrentUser != null)
{
    if (CurrentUser.HasSubscription)
    {
        if (CurrentUser.ApplicationCount > 0)
        {
            <h3>Applications</h3>

            <ApplicationList></ApplicationList>
        }
        else
        {
            <ApplicationForm></ApplicationForm>
        }
    }
    else
    {
        <Subscription></Subscription>
    }
}
