@page "/pricing"
@layout MainLayout

<div>
    <Heading Size="HeadingSize.Is3">How Does Pricing Work?</Heading>
    
    <Paragraph>
        
        TranslationPro is purely consumption driven.  There are 3 factors that affect your monthly price.

    </Paragraph>
    
    <UnorderedList>
        <UnorderedListItem>Input Data: The size of the phrase, measured in characters, you add to an application</UnorderedListItem>
        <UnorderedListItem>Output Data: The size of the resulting translation, measured in characters</UnorderedListItem>
    </UnorderedList>

</div>

@code {

}
