@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Password Reset";
}


<div class="row justify-content-center h-100">
    <left-column>
        <ss-main-content>
            <shadow-area>

                <partial name="Shared/_Logo"/>
                <main-header name="@ViewData["Title"]"></main-header>

                <form id="account" method="post">

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <p class="text-center">
                        Enter your email to reset your password
                    </p>

                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control"/>
                    </div>

                    <submit-button name="Send Link"></submit-button>

                </form>

                <div class="d-flex flex-column justify-content-center align-items-center pt-5">
                    <div>
                        Already have an account? <a asp-page="./Login">Sign In</a>
                    </div>
                    <div>
                        Don't have an account?
                        <a asp-page="./Register">Sign Up</a>
                    </div>
                </div>
            </shadow-area>
        </ss-main-content>
    </left-column>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}