@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}


<div class="row justify-content-center h-100">
    <left-column>
        <ss-main-content>
            <shadow-area>
                <partial name="Shared/_Logo"/>
                <main-header name="@ViewData["Title"]"></main-header>

                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="Input.Code" type="hidden"/>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <div class="input-group">
                            <input asp-for="Input.Password" class="form-control py-2 check-password"/>
                            <span class="input-group-append">
                                <button class="btn btn-sm btn-secondary" type="button" id="eye-on">
                                    <i data-feather="eye"></i>
                                </button>
                                <button class="btn btn-sm btn-secondary" type="button" id="eye-off">
                                    <i data-feather="eye-off"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <partial name="Shared/_PasswordRequirements"/>

                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control"/>
                    </div>
                    <submit-button name="Reset Password"></submit-button>
                </form>
            </shadow-area>
        </ss-main-content>
    </left-column>
    <partial name="Shared/_RightColumn"/>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <script src="~ / js / passwords.js"></script>

}